<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ReadingDiary.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">

                <!-- LOGO -->
                <a class="navbar-brand"
                   asp-controller="Home"
                   asp-action="Index">
                    Čtenářský deník
                </a>

                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#mainNavbar"
                        aria-controls="mainNavbar"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between"
                     id="mainNavbar">

                    <ul class="navbar-nav flex-grow-1 ms-5">

                        <!-- PUBLIC BOOKS FEED -->
                        <li class="nav-item">
                            <a class="nav-link text-dark"
                               asp-controller="Home"
                               asp-action="Index">
                                Katalog knih
                            </a>
                        </li>

                        @if (User.Identity?.IsAuthenticated == true)
                        {
                            <!-- USER ACTION -->
                            <li class="nav-item">
                                <a class="nav-link text-dark"
                                   asp-controller="MyBooks"
                                   asp-action="Index">
                                    Moje knihy
                                </a>
                            </li>
                        }

                        @if (User.IsInRole("Admin"))
                        {
                            <!-- ADMIN ACTION -->
                            <li class="nav-item">
                                <a class="nav-link text-dark"
                                   asp-controller="Books"
                                   asp-action="Index">
                                    Správa knih
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark"
                                   asp-controller="Genres"
                                   asp-action="Index">
                                    Správa žánrů
                                </a>
                            </li>
                        }

                    </ul>


                    <!-- LOGIN PARTIAL -->
                    <div>
                        @await Html.PartialAsync("_LoginPartial")
                    </div>

                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-4">
        <div class="container">
            &copy; @DateOnly.FromDateTime(DateTime.Now) – Čtenářský deník – Ufomamut
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
